<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{> header}}
    <h1>Add blog form</h1>
    <form action="/blogs/" method="post">
        <input type="text" name="title" placeholder="enter title">
        <input type="text" name="content" placeholder="enter content">
        <input type="text" name="author" placeholder="author">
        <input type="text" name="banner" placeholder="enter image url">
        <button>Add blog</button>
    </form>
</body>
</html>