<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blogpage">Blogs</a></li>
        </ul>
    </header>
    
    <h1>Home page</h1>
    <h2>username is {{name}} </h2>
    <h2>age is {{age}} </h2>
    <ul>
        {{#each followers as |f|}}
            <li>{{f}}</li>
        {{/each}}
    </ul>
</body>
</html>